body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1, h3 {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 90vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

input, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

.parent{
    display: table;
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 2%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.child{
   display: table-cell;
   vertical-align: bottom;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

fieldset {
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}